<nav class="navbar navbar-expand navbar-default fixed-top">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">HW 5 Project</a>
  </div>
  <div class="container">
      <ul class="nav navbar-nav navbar-right">
          <li><a href="#">About projectname</a></li>
          <li><a data-toggle="modal" href="../../../app/app.component.html#logInModal" data-target="#logInModal">Log In</a></li>
          <li><a data-toggle="modal" href="landing-page.component.html" data-target="#signInModal">Sign Up</a></li>
        </ul>
  </div>
</nav>
