<nav class="navbar navbar-default fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">HW 5 Project</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li style="float:right"><a href="#">How It Works</a></li>
      <li style="float:right"><a href="#" data-toggle="modal" data-target="#logInModal">Log In</a></li>
      <li style="float:right"><a href="#" data-toggle="modal" data-target="#signInModal">Sign Up</a></li>
    </ul>
  </div>
</nav>
