<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Simplify all your everyday tasks simply and fluidly.</h1>
  </div>
</div>

<div class="row" id="chooseRow">
  <div class="col">
    Why Choose Us?
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6" id="underChooseRow">
      "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
    </div>
    <div class="col-md-6">
        <img src='../../../assets/womanPhone.jpeg' class="center" width="475" vspace="10">
      </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <img src='../../../assets/task_pic.png' class="center" width="475" vspace="50">
    </div>
    <div class="col-md-6">
      <h1>Task Titan helps you to stay organized individually, or with a group.</h1>
      <p style="padding-top:5px">Never forget to do chores, projects and homework again. With Name, it's never been more easy to communicate and collaborate.</p>
    </div>
  </div>
</div>

<div class="row" id="offer">
  <div class="col">
    What we Offer
  </div>
</div>

<div class="container text-center">
  <div class="row">
    <div class="col-sm-4" id="message">
      <img src="../../../assets/messagePic.jpeg" class="img-thumbnail"> Seamless Messaging
    </div>
    <div class="col-sm-4" id="imageCSS">
      <img src="../../../assets/calendar.jpeg" class="img-thumbnail"> Schedule tasks and assign priority
    </div>
    <div class="col-sm-4" id="imageCSS">
      <img src="../../../assets/group.jpeg" class="img-thumbnail"> Group Creation
    </div>
  </div>
</div>

<!-- Spacing -->
<div class="row">
  <div class="col-xs-12" style="height:50px;"></div>
</div>

<div class="row">
  <div class="col-sm-12 text-center">
    <button type="button" class="btn btn-dark" id="btnRegister"><a routerLink="sign-up">Get Started - It's free</a></button>
  </div>
</div>

<!-- Spacing -->
<div class="row">
    <div class="col-xs-12" style="height:100px;"></div>
  </div>

  