<<!--div class="container-fluid">

  <div class="row">

      <div class="col">
          <h2>Unassigned</h2>
          <ul>
            <li *ngFor="let unassigned of unassignedTasks">
              <p>{{unassigned}}</p>
            </li>
          </ul>
      </div>
      <div class="col">
        <h2>Assigned</h2>
        <ul>
          <li *ngFor="let assigned of assignedTasks">
            <p>{{assigned}}</p>
          </li>
        </ul>
      </div>
      <div class="col">
        <h2>In Progress</h2>
        <ul>
          <li *ngFor="let inProgress of inProgressTasks">
            <p>{{inProgress}}</p>
          </li>
        </ul>
      </div>
      <div class="col">
        <h2>Done</h2>
        <ul>
          <li *ngFor="let done of doneTasks">
            <p>{{done}}</p>
          </li>
        </ul>
      </div>

  </div>

</div>-->
<body>
<div id="left-content">
  <div id="user-panel">
    <div class="avatar">
      <img src="../../../assets/baseline_account_circle_black_36dp.png" alt="Avatar" style="size: portrait" align="middle"/>
    </div>
    <div class="welcome">
      <span>Welcome</span>
      <br/>
      <span class="username">User</span>
    </div>
    <div class="logout">
      <a href=""><img src="" alt="Logout"/></a>
    </div>
  </div>
  <div id="lists-names">
    <a href="#"class="button">Create New Group</a>
    <i class="material-icons">group_add</i>
    <a href="#"class="button">Add New Member</a>
    <i class="material-icons">person_add</i>
    <a href="#"class="button">Admin Controls</a>
    <i class="material-icons">account_circle</i>
    <div id="lists-container">
      <a href="#">
        <div class="list">
          <div class="name">HouseMates</div>
          <div class="remaining">5</div>
        </div>
      </a>
      <a href="#">
        <div class="list">
          <div class="name">Hackathon Group</div>
          <div class="remaining">23</div>
        </div>
      </a>
    </div>
  </div>
</div>
<div id="main-content">
  <header>
    <div class="list-name">
      <h1>To-Do Project</h1>
    </div>
    <div class="list-actions">
      <a href="#" class="button">Edit List</a>
      <a href="#" class="button red">Delete List</a>
    </div>
  </header>
  <div id="new-task">
    <form method="post" action="#">
      <div id="new-task-form">
        <div><input #taskname type="text" name="task-name" placeholder="Enter your new task..." /></div>
        <div ><input type="submit" name="action-task-add" class="button" value="Add Task"(click)="onClick(taskname.value)"/></div>
      </div>
    </form>
  </div>
  <div id="tasks-list-container">
    <form method="post" action="">
      <ul id="tasks-list">
        <li>
         <!-- <div class="status">To Do</div>
          <input class="check-status" type="checkbox" name="task[]" />-->
        <ul><li *ngFor="let hero of heroes"><div class="status">To Do</div>
          <input class="check-status" type="checkbox" name="task[]" />{{hero}}</li></ul>
        </li>
        <li>
         <!-- <div class="status done">Done</div>
          <input class="check-status" type="checkbox" name="task[]" />
          <span>Show the world my HTML and CSS</span>-->
        </li>
      </ul>
      <div id="tasks-list-actions">
        <input type="submit" name="action-task-done" class="button" value="Mark as Done"/>
        <input type="submit" name="action-task-todo" class="button" value="Mask as To Do"/>
        <input type="submit" name="action-task-delete" class="button red" value="Delete Selected"/>
      </div>
    </form>
  </div>
</div>
</body>
