<<!--div class="container-fluid">

  <div class="row">

      <div class="col">
          <h2>Unassigned</h2>
          <ul>
            <li *ngFor="let unassigned of unassignedTasks">
              <p>{{unassigned}}</p>
            </li>
          </ul>
      </div>
      <div class="col">
        <h2>Assigned</h2>
        <ul>
          <li *ngFor="let assigned of assignedTasks">
            <p>{{assigned}}</p>
          </li>
        </ul>
      </div>
      <div class="col">
        <h2>In Progress</h2>
        <ul>
          <li *ngFor="let inProgress of inProgressTasks">
            <p>{{inProgress}}</p>
          </li>
        </ul>
      </div>
      <div class="col">
        <h2>Done</h2>
        <ul>
          <li *ngFor="let done of doneTasks">
            <p>{{done}}</p>
          </li>
        </ul>
      </div>

  </div>

</div>-->
<body>
<div id="left-content">
  <div id="user-panel">
    <div class="avatar">
      <img src="../../../assets/20181114_152636_HDR.jpg" alt="Avatar" style="size: portrait" align="middle"/>
    </div>
    <div class="welcome">
      <span>Welcome</span>
      <br/>
      <span class="username">Salman</span>
    </div>
    <div class="logout">
      <a href=""><img src="../../../assets/baseline_directions_run_black_36dp.png" alt="Logout"/></a>
    </div>
  </div>
  <div id="lists-names">

    <div id="create_group"><a input type="submit" name="gCreate" class="button" value="Create New Group" (click)="gCreate()">Create New Group</a></div>
    <i class="material-icons">group_add</i>
    <div id="add_member"><a input type="submit" name="aMem" class="button" value="Add New Member" (click)="aMem()">Add New Member</a></div>
    <i class="material-icons">person_add</i>
    <div id="add_controls"><a  href="control-panel" input type="submit" name="aControls" class="button" value="Admin Controls" (click)="aControls()">Admin Controls</a></div>
    <i class="material-icons">account_circle</i>
    <div id="lists-container">
      <a href="#"*ngFor="let group of groups">
        <div class="list">
          <ul>
            <li>
              <div class="name"><b>{{group}}</b></div>
              <div class="remaining">0</div>
            </li>
          </ul>
        </div>
      </a>
    </div>
  </div>
</div>
<div id="main-content">
  <header>
    <div class="list-name">
      <h1>To-Do Project</h1>
    </div>
    <div class="list-actions">
      <a href="#" class="button">Edit List</a>
      <a href="#" class="button red">Delete List</a>
    </div>
  </header>
  <div id="new-task">
    <div clagit pss="container">
      <form method="post" action="#">
        <div id="new-task-form">
          <div id="textField"><input #taskname type="text" name="task-name" placeholder="Enter your new task..."/></div>
          <div id="taskButton"><input type="submit" name="action-task-add" class="button" value="Add Task"
                                      (click)="onClick(taskname.value,taskDate.value,taskTime.value)"/>
            <form>Select A Time<input #taskTime type="time" name="usr_name"></form>
            <form> Enter a Date<input #taskDate type="month" name="dueMonth"></form>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div id="tasks-list-container">
    <form method="post" action="">
      <ul id="tasks-list">
        <li>
          <!-- <div class="status">To Do</div>
           <input class="check-status" type="checkbox" name="task[]" />-->
          <ul>
            <li *ngFor="let hero of heroes">
              <div class="status">To Do</div>
              <input class="check-status" type="checkbox" name="task[]"/><b>{{hero}}</b>
            </li>
          </ul>
        </li>
        <li>
          <!-- <div class="status done">Done</div>
           <input class="check-status" type="checkbox" name="task[]" />
           <span>Show the world my HTML and CSS</span>-->
        </li>
      </ul>
      <div id="tasks-list-actions">
        <input type="submit" name="action-task-done" class="button" value="Mark as Done"/>
        <input type="submit" name="action-task-todo" class="button" value="Mask as To Do"/>
        <input type="submit" name="action-task-delete" class="button red" value="Delete Selected"/>
      </div>
    </form>
  </div>
</div>
</body>
