
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Admin Dashboard</title>
</head>
<body>
<main>
  <header>
    <h2>Admin Dashboard</h2>
  </header>
  <section class="row">
    <article class="col-md-3 article-left">
      <i class="fa fa-heart-o fa-5x" aria-hidden="true"></i>
      <h2 class="text-center title">Admin Dashboard</h2>
      <ul class="fa-ul">
        <li><i class="fa fa-home" aria-hidden="true"></i><a href="#">Home</a></li>
        <li><i class="fa fa-comments" aria-hidden="true"></i><a href="#">Messages</a></li>
        <li><i class="fa fa-user-o" aria-hidden="true"></i><a href="#">Users</a></li>
        <li><i class="fa fa-rocket" aria-hidden="true"></i><a href="to-do">To-Do</a></li>
        <li><i class="fa fa-pie-chart" aria-hidden="true"></i><a href="#">Statistics</a></li>
        <li><i class="fa fa-cogs" aria-hidden="true"></i><a href="#">Settings</a></li>
        <li><i class="fa fa-line-chart" aria-hidden="true"></i><a href="#">Analytics</a></li>
        <li><i class="fa fa-facebook" aria-hidden="true"></i><a href="#">Social</a></li>
        <li><i class="fa fa-rss" aria-hidden="true"></i><a href="#">Feedback</a></li>
      </ul>
    </article>
    <article class="col-md-9 article-right">
      <h1>Admin Panel</h1>
      <hr>
    </article>
  </section>
</main>
</body>
</html>
